<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <%- include('partials/head')%>
</head>
<body>
    <header class="container justify-content-center align-items-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <h1>IBM RPA</h1>
        </div>
    </header>
    <!--Main information-->
    <H1>Thank you</H1>
    <!-- <%- include('partials/footer')%> -->
</body>
</html>